@use '../../styles/_common.scss' as common;

.entryList {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px
}

.entryItem {
  color: inherit;
  text-decoration: none;
  width: 100%;
  @include common.mq(sm) {
    width: calc(50% - 8px);
  }
}