.entry {
  padding: 20px;
}



.header {
  margin-bottom: 16px;
  .thumbNail {
    &_img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
  }

  &_h {
    margin: 16px 0;
    font-size: 24px;
  }
}
.author {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 8px 0;
  &_img {
    display: block;
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 30px;
  }
  &_name {
    margin: 0;
    color: #aaa
  }
}