@use '../../styles/_common.scss' as common;

.articleList {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.articleItem {
  color: inherit;
  text-decoration: none;
  width: 100%;
  padding: 16px;
  border-radius: 10px;
  @include common.mq(sm) {
    width: calc(50% - 32px);
    border-bottom: none;
  }
  &:after {
    content: '';
    display: block;
    width: 100%;
    padding-top: 16px;
    margin-bottom: -16px;
    border-bottom: 1px #eee solid;
    @include common.mq(sm) {
      display: none;
    }
  }
  &:hover {
    background-color: #eee;
  }
}
