@use '../../styles/_common.scss' as common;

.article {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.header {
  margin: 16px 0;
  padding: 0 20px;
  &_h {
    margin: 0;
    font-weight: 700;
    color: #666;
    font-size: 18px;
  }
}

.hero {
  &_img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    vertical-align: bottom;
    @include common.mq() {
      height: 300px;
    }
  }
}

.util {
  margin-top: 8px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.body {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 20px;
  p {
    font-size: 16px;
    margin-top: 0;
  }
}

.footer {
  background-color: transparent;
  width: 100%;
  padding-top: 20px;
  text-align: right;
  box-sizing: border-box;
}

.footerNavi {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  padding: 0 20px;
  font-size: 14px;
  gap: 40px;
  &_item {
    display: flex;
    align-items: center;
    &:last-child {
      justify-content: flex-end;
    }
    &_a {
      display: flex;
      align-items: center;
      text-decoration: none;
      gap: 8px;
      &_text {
        text-align: left;
      }
      &_icon {
        font-weight: 100;
        font-size: 13px;
        color: #888;
      }
    }
    &:last-child {
      .footerNavi_item_a {
        justify-content: flex-end;
      }
    }
  }
}
