---
import Layout from '../layouts/Layout.astro';
import { CommonHeader } from '../components/common/header';
import { Entries } from '../components/entries/entries';
import { getSdk } from '../graphql/generated/graphql'
import { getGraphqlClient } from '../shared/libs/graphql-client/getGraphqlClient';

const data = await getSdk(getGraphqlClient()).getBlogArticles()

---
<style>
	main {
		margin: 0;
		background-color: #fff;
		max-width: 900px;
		margin: 0 auto;
	}
</style>
<Layout title="Welcome to Astro.">
	<CommonHeader />
	<pre>{JSON.stringify(data, null, 2)}</pre>
	<main>
		<Entries />
	</main>
</Layout>
