---
import Layout from '../layouts/Layout.astro';
import { CommonHeader } from '../components/common/header';
---
<Layout title="Welcome to Astro.">
	<CommonHeader />
	<div class="header">
		<h1>studio-kakkyのブログ</h1>
	</div>
</Layout>
