---
import Layout from '../layouts/Layout.astro';
import { CommonHeader } from '../components/common/header';
import { Entries } from '../components/entries/entries';
import { getArticleSummary } from '../shared/models/article/get-article-summary';

const articles = await getArticleSummary();
---
<style>
	main {
		margin: 0;
		background-color: #fff;
		max-width: 900px;
		margin: 0 auto;
	}
</style>
<Layout title="Welcome to Astro.">
	<CommonHeader />
	<pre>{JSON.stringify(articles, null, 2)}</pre>
	<main>
		<Entries />
	</main>
</Layout>
