:root {
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
  --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

  --color-text: hsl(12, 5%, 4%);
  --color-bg: #fff;
  --color-border: hsl(17, 24%, 90%);
}

html {
  font-family: 'Noto Sans JP';
  font-size: var(--font-size-base);
  color: var(--color-text);
  background-color: var(--color-bg);
}

body {
  margin: 0;
  color: #666;
  font-size: 16px;
}

:global(h1) {
  font-size: var(--font-size-xl);
}

:global(h2) {
  font-size: var(--font-size-lg);
}

a {
  color: #0068b2;
}
.wisywig {
  h1,
  h2,
  h3 {
    color: #111;
    margin: 30px 0 22px;
    padding: 2px 0 2px 16px;
    border-left: 4px solid #666;
    &:first-child {
      margin-top: 0;
    }
  }
  p {
    margin: 0 0 12px;
  }
}
